[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Keyboard layout
Name[de_DE]=Tastatur-layout
Name[es_AR]=Disposición de teclado
Name[fr_FR]=Disposition du clavier
Name[it_IT]=Layout di tastiera
Name[ja_JP]=キーボード レイアウト
Name[pl_PL]=Układ klawiatury
Name[pt]=Layout de teclado
Name[ru_RU]=Раскладка клавиатуры
Name[sv_SE]=Tangentbordslayouten
GenericName=Keyboard layout settings
Comment=Configure keyboard layout
Comment[de_DE]=Tastaturlayout konfigurieren
Comment[es_AR]=Configurar teclado
Comment[fr_FR]=Configurer le clavier
Comment[it_IT]=Configurare il layout di tastiera
Comment[ja_JP]=キーボード レイアウトを設定します。
Comment[pl_PL]=Konfiguracja układu klawiatury
Comment[pt]=Configurar o layout de teclado
Comment[ru_RU]=Настройка раскладки клавиатуры
Comment[sv_SE]=Konfigurera tangentbordslayout
Exec=remsu "dpkg-reconfigure -f gnome keyboard-configuration"
Icon=preferences-desktop-keyboard
Terminal=false
Type=Application
Categories=System
NotShowIn=KDE
X-KDE-SubstituteUID=true

